@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
	font-family: 'Montserrat', sans-serif;
}

.alert-message {
	clear:  both;
	height: 35px;
	color: red;
	font-family: 'Bangers', cursive;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 2px;
}

#current-player {
	clear:  both;
	height: 35px;
	color: black;
	font-family: 'Bangers', cursive;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 2px;

}
/*--------------------------------------------------------Main Title-------------*/
#title, #subtitle {
	font-family: 'Bangers', cursive;
	font-weight: 400;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;	
}

#subtitle {
	font-size: 9.75px;
	border-bottom: 15px solid black;
	padding-bottom: 10px;
}

/*----------------------------------------------------Player Selection-------------*/
#player-selection {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
}

#player-selection-text {
	height: 30px;
	width: 100%;
	font-size: .65rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.player-selection-buttons {
	width: 25%;
	text-align: center;
	border: 10px solid black;
	height:	100px;
	line-height: 100px;
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 4em;
	font-weight: 800;
}

#player-selection-button-x {
	float: left;
	margin-left: 10%;
}

#player-selection-button-o {
	float: right;
	margin-right: 10%;
}

.post-selection-button-text {
	width: 25%;
	border: 10px;
	text-align: center;
	font-size: 0.6rem;
	margin: 0 auto;
	padding-top: 15px;
}

#buttonx_choice, #buttono_choice {
	font-size: 1.2rem;
	letter-spacing: 2px;
}

#buttonx_choice {
	float: left;
	margin-left: 10%;
}

#buttono_choice {
	float: right;
	margin-right: 10%;
}

/*----------------------------------------------------Start Game------------------------*/

#start-game-button {
	font-family: 'Bangers', cursive;
	letter-spacing: 4px;
	clear: top;
	width: 40%;
	margin: auto;
	border: 10px solid black;
	text-align: center;
	margin-top: 200px;
	border-radius: 25px;
	height: 100px;
	line-height: 100px;
	font-size: 0.9rem;
}

#start-game-button:hover {
	background-color: lightpink;
}
/*----------------------------------------------------Player Scores------------------------*/


#player-scores {
	font-size: 0.8rem;
}

#player1-score, #player2-score {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	border-bottom: 15px solid black;
	margin-bottom: 25px;
}
#player1-score {
	float: left;
}

#player2-score {
	float: right;
}

/*----------------------------------------------------Board------------------------*/
.game-board
{
	width: 250px;
	height: 250px;
	margin: 0 auto;
  	background-color: white;
	color: black;
	border: 6px solid black;
	border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
	border: 6px solid black;
	border-radius: 2px;
	font-family: Bangers;
	font-weight: bold;
	font-size: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--------------------------------------------------------Media Queries-------------*/
/*------------------------------Min-Width:  300px----------*/
@media (min-width: 300px) {

	#title {
		font-size: 30px;
	}

	#subtitle {
		font-size: 11.7;
	}

	.post-selection-button-text {
		font-size: 0.7rem;
	}

	#start-game-button {
		font-size: 1rem;
	}

	.game-board
	{
	width: 300px;
	height: 300px;
	}	
}
/*------------------------------Min-Width:  400px----------*/
@media (min-width: 400px) {

	#player-scores {
		font-size: 0.9rem;
	}		
}

/*------------------------------Min-Width:  500px----------*/
@media (min-width: 500px) {

	#title {
		font-size: 40px;
	}

	#subtitle {
		font-size: 15.6;
	}

	#player-selection-text {
		font-size: 1.2rem;
	}

	.post-selection-button-text {
		font-size: 1rem;
	}

	#start-game-button {
		font-size: 1.5rem;
	}

	#player-scores {
		font-size: 1rem;
	}		

	.game-board
	{
	width: 400px;
	height: 400px;
	}
}

/*------------------------------Min-Width:  580px----------*/
@media (min-width: 5800px) {

	#player-scores {
			font-size: 1.2rem;
		}		
}

/*------------------------------Min-Width:  960px----------*/
@media (min-width: 960px) {

	#title {
		font-size: 60px;
	}

	#subtitle {
		font-size: 23.5px;
	}

	#player-selection-text {
		font-size: 1.5rem;
	}

	#player-selection-button-x {
	margin-left: 20%;
	}

	#player-selection-button-o {
	margin-right: 20%;
	}

	#buttonx_choice {
	margin-left: 20%;	
	}

	#buttono_choice {
	margin-right: 20%;	
	}

	#start-game-button {
	margin-top: 250px;
/*	font-size: 1.5rem;*/
	}
}

