@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
	font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------Main Title-------------*/
#title {
	font-family: 'Bangers', cursive;
	font-weight: 400;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	letter-spacing: 4px;
	border-bottom: 15px solid black;
}

/*----------------------------------------------------Player Selection-------------*/
#player-selection-text {
	height: 30px;
	width: 100%;
	font-size: .65rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 35px;
}

.player-selection-buttons {
	width: 20%;
	text-align: center;
	border: 5px solid black;
	height:	100px;
	line-height: 100px;
	border-radius: 25px;
	display: inline-block;
	margin-top: 3%;
	margin-left: 20%;
}

.player-selection-buttons > h3 {
	font-size: 4em;
	font-weight: 800;
}

#player-selection-X {

}

#player-selection-O {

}



/*--------------------------------------------------------Media Queries-------------*/
/*------------------------------Min-Width:  300px----------*/
@media (min-width: 300px) {

	#title {
		font-size: 30px;
	}	
}


/*------------------------------Min-Width:  500px----------*/
@media (min-width: 500px) {

	#title {
		font-size: 50px;
	}

	#player-selection-text {
		font-size: 1.2rem;
	}		
}



/*------------------------------Min-Width:  960px----------*/
@media (min-width: 960px) {

	#title {
		font-size: 100px;
	}

	#player-selection-text {
		font-size: 2rem;
	}
}

